name: Polars User Guide code snippets

on:
  - pull_request

jobs:
  test:
    name: tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y graphviz make wget
          python -m pip install black==22.3.0 mdformat==0.7.5

      - name: Check formatting
        run: |
          black --check .
          mdformat --check $(find user_guide/src -name "*.md" | grep -v SUMMARY.md)

      - name: Run snippets
        run: |
          make run
